.categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  margin: 0.5rem;
  white-space: nowrap;

  p {
    padding: 0.5rem;
    cursor: pointer;
    margin: 0.2rem 1rem;
  }

  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #aaa;
  }
}

.active {
  border: 3px solid #ffff;
  border-radius: 10px;
}
